## Final Predictions

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

C:\Users\morga\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\morga\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\morga\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [9]:
test_val = pd.read_csv('datasets/test_set_values.csv')

In [10]:
test_val.shape

(14850, 40)

In [11]:
test_val.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [12]:
test_val.isnull().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

##### Year Recorded Column

In [15]:
# Import parser from dateutil
from dateutil import parser
# Import datetime from datetime
from datetime import datetime

In [16]:
# Create empty list
year_made = []

# Iterate through values in 'date_recorded', convert value into a representation of the year 
# the report was created and append value into empty list.
for i in test_val['date_recorded']:
    parsed = parser.parse(i).strftime('20%y')
    year_made.append(parsed)

In [17]:
# Create a new dataframe from list
year_test_df = pd.DataFrame({'year_recorded':year_made})
# Check dataframe
year_test_df.head()

  year_recorded
0          2013
1          2013
2          2013
3          2013
4          2013

In [18]:
# Create new dataframe by combining previous and new dataframes
test_df = pd.concat([test_val, year_test_df], axis=1)
# Check dataframe
test_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other,2013
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,2013
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other,2013
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other,2013
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2013

In [19]:
test_df.isnull().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
dtype: int64

##### Month Recorded Column

In [20]:
# Create empty list
month_made = []

# Iterate through values in 'date_recorded', convert value into a representation of the month 
# the report was created and append value into empty list.
for i in test_val['date_recorded']:
    parsed = parser.parse(i).strftime('%m')
    month_made.append(parsed)

In [21]:
# Create a new dataframe from list
month_test_df = pd.DataFrame({'month_recorded':month_made})
# Check dataframe
month_test_df.head()

  month_recorded
0             02
1             02
2             02
3             01
4             03

In [22]:
# Create new dataframe by combining previous and new dataframes
test_df = pd.concat([test_df, month_test_df], axis=1)
# Check dataframe
test_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other,2013,02
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,2013,02
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other,2013,02
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,good,dry,dry,shallow well,shallow well,groundwater,other,other,2013,01
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2013,03

In [23]:
test_df.isnull().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
month_recorded              0
dtype: int64

##### Day Recorded Column

In [24]:
# Create empty list
day_made = []

# Iterate through values in 'date_recorded', convert value into a representation of the day 
# the report was created and append value into empty list.
for i in test_val['date_recorded']:
    parsed = parser.parse(i).strftime('%w')
    day_made.append(parsed)

In [25]:
# Create a new dataframe from list
day_test_df = pd.DataFrame({'day_recorded':day_made})
# Check dataframe
day_test_df.head()

  day_recorded
0            1
1            1
2            5
3            2
4            3

In [26]:
# Create new dataframe by combining previous and new dataframes
test_df = pd.concat([test_df, day_test_df], axis=1)
# Check dataframe
test_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other,2013,02,1
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,2013,02,1
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other,2013,02,5
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,dry,dry,shallow well,shallow well,groundwater,other,other,2013,01,2
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2013,03,3

In [27]:
test_df.isnull().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
month_recorded              0
day_recorded                0
dtype: int64

In [28]:
test_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other,2013,02,1
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,2013,02,1
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other,2013,02,5
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,dry,dry,shallow well,shallow well,groundwater,other,other,2013,01,2
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2013,03,3

In [29]:
# Change the datatype to integer
test_df['year_recorded'] = test_df['year_recorded'].astype('int64')
test_df['month_recorded'] = test_df['month_recorded'].astype('int64')
test_df['day_recorded'] = test_df['day_recorded'].astype('int64')

##### Season Recorded Column

In [30]:
# Create lists of the seasons with months as elements
short_rain = [11, 12]
long_rain = [3, 4, 5]
short_dry = [1, 2]
long_dry = [6, 7, 8, 9, 10]

# Create a function that bins the months reported by season
def season(mon):
    """
    Takes in month, and applies in logical to determine season of sale.
    """
    if mon in short_rain:
        return 'short_rain'
    elif mon in long_rain:
        return 'long_rain'
    elif mon in short_dry:
        return 'short_dry'
    else:
        return 'long_dry'

# Create new feature based on the values returned from function
test_df['seas_recorded'] = test_df['month_recorded'].apply(season)

In [31]:
# Drop original date_recorded column
test_df = test_df.drop('date_recorded', axis=1)

##### Fill missing values

In [32]:
test_val.isnull().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

In [33]:
# Print the mode of the funder column
print('Mode: {}'.format(test_df['funder'].mode()))

Mode: 0    Government Of Tanzania
dtype: object

In [34]:
test_df.isnull().sum()

id                          0
amount_tsh                  0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
month_recorded              0
day_recorded                0
seas_recorded               0
dtype: int64

In [35]:
# Create a new sorted dataframe
sort_test_df = test_df.sort_values(by=['latitude'])
# Check changes
sort_test_df.head()

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded
10854,43715,500.0,Tcrs,576,TCRS,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,2013,2,5,short_dry
13542,33688,500.0,Government Of Tanzania,1262,Government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain
7549,43717,500.0,Government Of Tanzania,1271,Government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain
2597,48996,500.0,Government Of Tanzania,1332,Government,35.058686,-11.540330,Kwa Mzee Ndungulu,3,Lake Nyasa,...,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain
3599,61269,500.0,Government Of Tanzania,1329,Government,35.060029,-11.539817,Kwa Mzee Teo,0,Lake Nyasa,...,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain

In [36]:
sort_test_df.isnull().sum()

id                          0
amount_tsh                  0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
month_recorded              0
day_recorded                0
seas_recorded               0
dtype: int64

In [37]:
# Impute missing values in funder column
sort_test_df['funder'] = sort_test_df['funder'].fillna(method='ffill')

In [38]:
# Check that there are no more missing values in funder column
sort_test_df['funder'].isnull().sum()

0

Now that there are no more missing values in the `funder` feature, we will need to manage how many categories are contained in the column. Let's take a look at how many unique values there are.

In [39]:
# Return number of unique values in funder column
sort_test_df['funder'].nunique()

980

With nearly 2000 unique funders, we will have to create bins to lower the number of categories. It could be useful to bin the funders based on how many waterpoints they have funded. We can use a chain with `.value_counts()` and `.unique()` in order to view the different counts of how many waterpoints the funders have funded.

In [40]:
# Return array of value counts in funder column
sort_test_df['funder'].value_counts().values

array([2349,  837,  593,  405,  361,  336,  329,  300,  264,  261,  211,
        208,  204,  203,  201,  162,  159,  140,  138,  128,  128,  122,
        122,  116,  104,  101,   91,   90,   86,   84,   81,   80,   78,
         77,   77,   76,   75,   73,   68,   67,   64,   62,   61,   54,
         54,   53,   53,   51,   50,   49,   48,   48,   47,   43,   43,
         43,   43,   41,   41,   38,   37,   37,   37,   36,   36,   35,
         34,   34,   33,   33,   33,   33,   32,   31,   31,   31,   29,
         29,   29,   28,   28,   28,   27,   27,   26,   26,   26,   25,
         24,   24,   24,   24,   24,   24,   23,   23,   23,   23,   22,
         22,   22,   22,   21,   21,   21,   20,   20,   20,   20,   20,
         20,   20,   20,   19,   19,   19,   19,   19,   19,   19,   18,
         18,   17,   17,   16,   16,   16,   16,   16,   16,   16,   16,
         15,   15,   15,   15,   15,   15,   15,   15,   14,   14,   14,
         14,   14,   14,   13,   13,   13,   13,   13,   13,   13,   13,
         13,   13,   13,   12,   12,   12,   12,   12,   12,   12,   12,
         12,   12,   12,   12,   12,   12,   11,   11,   11,   11,   11,
         11,   11,   11,   11,   11,   10,   10,   10,   10,   10,   10,
         10,   10,   10,    9,    9,    9,    9,    9,    9,    9,    9,
          9,    9,    9,    9,    9,    9,    9,    8,    8,    8,    8,
          8,    8,    8,    8,    8,    8,    8,    8,    8,    8,    8,
          8,    7,    7,    7,    7,    7,    7,    7,    7,    7,    7,
          7,    7,    7,    7,    7,    7,    7,    7,    7,    7,    7,
          7,    7,    7,    7,    6,    6,    6,    6,    6,    6,    6,
          6,    6,    6,    6,    6,    6,    6,    6,    6,    6,    6,
          6,    6,    6,    6,    5,    5,    5,    5,    5,    5,    5,
          5,    5,    5,    5,    5,    5,    5,    5,    5,    5,    5,
          5,    5,    5,    5,    5,    5,    5,    5,    5,    5,    5,
          5,    5,    5,    5,    5,    5,    5,    5,    5,    5,    4,
          4,    4,    4,    4,    4,    4,    4,    4,    4,    4,    4,
          4,    4,    4,    4,    4,    4,    4,    4,    4,    4,    4,
          4,    4,    4,    4,    4,    4,    4,    4,    4,    4,    4,
          4,    4,    4,    4,    4,    4,    4,    4,    4,    4,    4,
          4,    4,    3,    3,    3,    3,    3,    3,    3,    3,    3,
          3,    3,    3,    3,    3,    3,    3,    3,    3,    3,    3,
          3,    3,    3,    3,    3,    3,    3,    3,    3,    3,    3,
          3,    3,    3,    3,    3,    3,    3,    3,    3,    3,    3,
          3,    3,    3,    3,    3,    3,    3,    3,    3,    3,    3,
          3,    3,    3,    3,    3,    3,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1], dtype=int64)

In [41]:
# Return unique value counts for a funder's waterpoints
sort_test_df['funder'].value_counts().unique()

array([2349,  837,  593,  405,  361,  336,  329,  300,  264,  261,  211,
        208,  204,  203,  201,  162,  159,  140,  138,  128,  122,  116,
        104,  101,   91,   90,   86,   84,   81,   80,   78,   77,   76,
         75,   73,   68,   67,   64,   62,   61,   54,   53,   51,   50,
         49,   48,   47,   43,   41,   38,   37,   36,   35,   34,   33,
         32,   31,   29,   28,   27,   26,   25,   24,   23,   22,   21,
         20,   19,   18,   17,   16,   15,   14,   13,   12,   11,   10,
          9,    8,    7,    6,    5,    4,    3,    2,    1], dtype=int64)

Now that we see how many waterpoints a funder funds, let's create bins based on the amounts. We can first use the `value_counts` attribute to view the number of waterpoints a funder has funded.

In [42]:
# Return count of occurences for funder in dataframe
sort_test_df['funder'].value_counts

<bound method IndexOpsMixin.value_counts of 10854                      Tcrs
13542    Government Of Tanzania
7549     Government Of Tanzania
2597     Government Of Tanzania
3599     Government Of Tanzania
                  ...
1051     Government Of Tanzania
10549                      Dwsp
4662                     Hesawa
9797                      Tasaf
9777               World Vision
Name: funder, Length: 14850, dtype: object>

These are the values that we want to bin our funders based on. We can use `.groupby()` and `.transform(count)` to create a column in our dataframe that groups the funders together and returns the count of their occurrences, and assign these values within a new feature called `funder_counts`.

In [43]:
# Create new column based on funder occurrences.
sort_test_df['funder_counts'] = sort_test_df.funder.groupby(sort_test_df.funder).transform('count')
# View new column
sort_test_df.head()

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,source,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts
10854,43715,500.0,Tcrs,576,TCRS,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,shallow well,shallow well,groundwater,hand pump,hand pump,2013,2,5,short_dry,140
13542,33688,500.0,Government Of Tanzania,1262,Government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,spring,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349
7549,43717,500.0,Government Of Tanzania,1271,Government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,spring,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349
2597,48996,500.0,Government Of Tanzania,1332,Government,35.058686,-11.540330,Kwa Mzee Ndungulu,3,Lake Nyasa,...,spring,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349
3599,61269,500.0,Government Of Tanzania,1329,Government,35.060029,-11.539817,Kwa Mzee Teo,0,Lake Nyasa,...,spring,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349

Now with our `funder_counts` column we can make bins of the categories based on the number of waterpoints the funder funds. We will do this with `pd.cut()` after creating bins to put value counts in and their appropriate names.

In [44]:
# Create a list of integers, including infinity defined by numpy.
bins = [0, 10, 20, 30, 40, 50, 60, 80, 100, 120, 150, 180, 350, 650, 1000, 2000, 3000, np.inf]
# Create a name for the bins expressing the range for each bin.
names = ['1-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-80', '81-100',
        '101-120', '121-150', '151-180', '181-350', '351-650', '651-1000',
        '1001-2000', '2001-3000', '3001-12000']
# Make a new categorical column named funder_points, which is made of the 
# segments from the funder_counts column, 
sort_test_df['funder_points'] = pd.cut(
    #cut at the bin values and label with the names list.
    sort_test_df['funder_counts'], bins=bins, labels=names)

# Make sure the datatypes are correct.
sort_test_df.head()

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points
10854,43715,500.0,Tcrs,576,TCRS,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,shallow well,groundwater,hand pump,hand pump,2013,2,5,short_dry,140,121-150
13542,33688,500.0,Government Of Tanzania,1262,Government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000
7549,43717,500.0,Government Of Tanzania,1271,Government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000
2597,48996,500.0,Government Of Tanzania,1332,Government,35.058686,-11.540330,Kwa Mzee Ndungulu,3,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000
3599,61269,500.0,Government Of Tanzania,1329,Government,35.060029,-11.539817,Kwa Mzee Teo,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000

Now we can ensure that the new `funder_points` is in the dataframe with the `.info()` method.

In [45]:
# Return instance count and datatype for each column
sort_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14850 entries, 10854 to 9777
Data columns (total 45 columns):
id                       14850 non-null int64
amount_tsh               14850 non-null float64
funder                   14850 non-null object
gps_height               14850 non-null int64
installer                13973 non-null object
longitude                14850 non-null float64
latitude                 14850 non-null float64
wpt_name                 14850 non-null object
num_private              14850 non-null int64
basin                    14850 non-null object
subvillage               14751 non-null object
region                   14850 non-null object
region_code              14850 non-null int64
district_code            14850 non-null int64
lga                      14850 non-null object
ward                     14850 non-null object
population               14850 non-null int64
public_meeting           14029 non-null object
recorded_by              14850 non-null object
scheme_management        13881 non-null object
scheme_name              7758 non-null object
permit                   14113 non-null object
construction_year        14850 non-null int64
extraction_type          14850 non-null object
extraction_type_group    14850 non-null object
extraction_type_class    14850 non-null object
management               14850 non-null object
management_group         14850 non-null object
payment                  14850 non-null object
payment_type             14850 non-null object
water_quality            14850 non-null object
quality_group            14850 non-null object
quantity                 14850 non-null object
quantity_group           14850 non-null object
source                   14850 non-null object
source_type              14850 non-null object
source_class             14850 non-null object
waterpoint_type          14850 non-null object
waterpoint_type_group    14850 non-null object
year_recorded            14850 non-null int64
month_recorded           14850 non-null int64
day_recorded             14850 non-null int64
seas_recorded            14850 non-null object
funder_counts            14850 non-null int64
funder_points            14850 non-null category
dtypes: category(1), float64(3), int64(11), object(30)
memory usage: 5.7+ MB

The next column that contains missing values is the `installer` column. It appears that many of the installer values are the same as the funder values. However, the installer strings are in all caps. We will need to set both the `funder` and `installer` values to lowercase and then, for those values that are missing, impute the `funder` value for that column. After this, we can then create and `installer_count` bin that categorizes the installers based on the number of installations they have completed.

In [46]:
# Set funder & installer values to lowercase
sort_test_df['funder'] = sort_test_df['funder'].str.lower()
sort_test_df['installer'] = sort_test_df['installer'].str.lower()
# Check for update
sort_test_df.head()

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points
10854,43715,500.0,tcrs,576,tcrs,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,shallow well,groundwater,hand pump,hand pump,2013,2,5,short_dry,140,121-150
13542,33688,500.0,government of tanzania,1262,government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000
7549,43717,500.0,government of tanzania,1271,government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000
2597,48996,500.0,government of tanzania,1332,government,35.058686,-11.540330,Kwa Mzee Ndungulu,3,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000
3599,61269,500.0,government of tanzania,1329,government,35.060029,-11.539817,Kwa Mzee Teo,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000

In [47]:
# Fill missing installer values with funder value
sort_test_df['installer'] = sort_test_df['installer'].fillna(sort_test_df['funder'])
# Check missing value counts
sort_test_df.isnull().sum()

id                          0
amount_tsh                  0
funder                      0
gps_height                  0
installer                   0
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
month_recorded              0
day_recorded                0
seas_recorded               0
funder_counts               0
funder_points               0
dtype: int64

Now that we have filled the missing values for the `installer` column, we can address the `subvillage` column. With Only 371 missing rows, our decision for resolving them should not heavily impact our model performance. As this is a geographical column, it may be most effective to impute the missing values with that of the closest waterpoint. As our dataframe is already ordered by latitude, we can simply set the method of the `fillna()` method to ffill, to use the previous subvillage value.

In [48]:
# Fill missing installer values with funder value
sort_test_df['subvillage'] = sort_test_df['subvillage'].fillna(method='ffill')
# Check missing value counts
sort_test_df.isnull().sum()

id                          0
amount_tsh                  0
funder                      0
gps_height                  0
installer                   0
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                  0
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
month_recorded              0
day_recorded                0
seas_recorded               0
funder_counts               0
funder_points               0
dtype: int64

In [49]:
# Check that dataframe
sort_test_df.head(5)

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points
10854,43715,500.0,tcrs,576,tcrs,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,shallow well,groundwater,hand pump,hand pump,2013,2,5,short_dry,140,121-150
13542,33688,500.0,government of tanzania,1262,government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000
7549,43717,500.0,government of tanzania,1271,government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000
2597,48996,500.0,government of tanzania,1332,government,35.058686,-11.540330,Kwa Mzee Ndungulu,3,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000
3599,61269,500.0,government of tanzania,1329,government,35.060029,-11.539817,Kwa Mzee Teo,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000

The next column with missing values that we can manage is the scheme management column. This feature describes the management that operates the waterpoint. To manage this column, let's first take a deeper look into the different values within it.

In [50]:
# Return the different values in the scheme_management column
sort_test_df['scheme_management'].unique()

array(['WUG', 'VWC', 'Parastatal', 'Private operator', nan, 'Water Board',
       'Other', 'WUA', 'Water authority', 'Trust', 'Company', 'SWC'],
      dtype=object)

In [51]:
# View the null rows for scheme_management
sort_test_df[sort_test_df['scheme_management'].isnull()]

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points
4355,45616,0.0,world bank,721,mkongo construction,36.058692,-1.096691e+01,Kwa Mzee Nahosi,0,Ruvuma / Southern Coast,...,borehole,groundwater,other,other,2013,2,2,short_dry,361,351-650
14729,12363,0.0,world bank,725,mkongo construction,36.062183,-1.094978e+01,Kwa Festo Mkwe,0,Ruvuma / Southern Coast,...,borehole,groundwater,other,other,2013,2,2,short_dry,361,351-650
8712,18381,0.0,world bank,583,government,34.668237,-1.071467e+01,Kwa Mzee Waziri,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,9,2,long_dry,361,351-650
5261,64304,0.0,jaica,-40,jaica,40.258200,-1.057453e+01,Kwa Utali,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,0,short_dry,75,61-80
7526,8371,0.0,fini water,85,fini water,40.220331,-1.051495e+01,Kwa Mzungu,0,Ruvuma / Southern Coast,...,shallow well,groundwater,other,other,2013,2,0,short_dry,81,81-100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13115,4309,0.0,hesawa,0,dwe,0.000000,-2.000000e-08,Kwajustin,0,Lake Victoria,...,shallow well,groundwater,hand pump,hand pump,2012,12,1,short_rain,593,351-650
8777,26672,0.0,hesawa,0,dwe,0.000000,-2.000000e-08,Kwacharles,0,Lake Victoria,...,shallow well,groundwater,other,other,2012,10,6,long_dry,593,351-650
1082,15225,0.0,hesawa,0,dwe,0.000000,-2.000000e-08,Kwamwalongo,0,Lake Victoria,...,shallow well,groundwater,other,other,2012,10,1,long_dry,593,351-650
4624,72535,0.0,hesawa,0,dwe,0.000000,-2.000000e-08,Kwamusiba,0,Lake Victoria,...,shallow well,groundwater,hand pump,hand pump,2012,10,6,long_dry,593,351-650
13127,13049,0.0,government of tanzania,0,central government,0.000000,-2.000000e-08,Shuleni,0,Lake Victoria,...,rainwater harvesting,surface,communal standpipe,communal standpipe,2013,2,0,short_dry,2349,2001-3000

In [52]:
# Impute missing values with the most_scheme value
sort_test_df['scheme_management'] = sort_test_df['scheme_management'].fillna(method='ffill')

In [53]:
# Check for update
sort_test_df.head(25)

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,source_type,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points
10854,43715,500.0,tcrs,576,tcrs,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,shallow well,groundwater,hand pump,hand pump,2013,2,5,short_dry,140,121-150
13542,33688,500.0,government of tanzania,1262,government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000
7549,43717,500.0,government of tanzania,1271,government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000
2597,48996,500.0,government of tanzania,1332,government,35.058686,-11.540330,Kwa Mzee Ndungulu,3,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000
3599,61269,500.0,government of tanzania,1329,government,35.060029,-11.539817,Kwa Mzee Teo,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000
14406,25702,0.0,world bank,341,world bank,37.364163,-11.511412,Kwa Mzee Nassor,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,1,short_dry,361,351-650
10059,63394,0.0,danida,352,danida,37.365879,-11.498515,Kwa Napulu,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,1,short_dry,837,651-1000
1382,42255,0.0,danida,359,danida,37.369093,-11.494605,Kwa Mohamed Mkwanda,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,1,short_dry,837,651-1000
1487,26630,2000.0,unicef,519,unicef,36.980614,-11.469953,Mtamba,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,4,short_dry,300,181-350
9841,9231,0.0,undp,460,government,34.946117,-11.468183,Kwa Mzee Chichango,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,2,5,short_dry,17,11-20
7322,15549,3500.0,unicef,526,unicef,36.978914,-11.467185,Kwa Hassan Bakili,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,4,short_dry,300,181-350
11740,3064,0.0,undp,459,government,34.944002,-11.467157,Kwa Mzee Katyare,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,2,5,short_dry,17,11-20
3873,50177,5000.0,unicef,542,unicef,36.986874,-11.463708,Simbili,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,4,short_dry,300,181-350
1510,26823,3000.0,unicef,543,unicef,36.985343,-11.461362,Iringa,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,4,short_dry,300,181-350
3227,63010,10000.0,unicef,554,unicef,36.981793,-11.460886,Mkwaya,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,4,short_dry,300,181-350
12137,10971,0.0,undp,464,government,34.936543,-11.455479,Kwa Mzee Yawawa,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,2,6,short_dry,17,11-20
12847,52859,20.0,unicef,536,unicef,36.887999,-11.455398,Ruvuma,0,Ruvuma / Southern Coast,...,borehole,groundwater,hand pump,hand pump,2013,2,4,short_dry,300,181-350
3808,69969,0.0,mission,1572,mission,35.076197,-11.448590,Shuleni,0,Ruvuma / Southern Coast,...,spring,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,78,61-80
3040,46654,0.0,danida,577,dwe,35.392866,-11.435955,Kwa Mussa,0,Ruvuma / Southern Coast,...,shallow well,groundwater,hand pump,hand pump,2013,7,3,long_dry,837,651-1000
7893,64873,0.0,undp,531,government,34.954081,-11.432680,Kwa Mzee Malera,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,2,6,short_dry,17,11-20
6657,4213,0.0,government of tanzania,471,government,34.931777,-11.428957,Kwa Mzee Mbopela,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,2,0,short_dry,2349,2001-3000
13173,9331,0.0,government of tanzania,472,government,34.931243,-11.423247,Kwa Mzee Manyahi,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,2,0,short_dry,2349,2001-3000
2048,320,1000.0,danida,538,danida,36.846291,-11.420622,Namba 6,0,Ruvuma / Southern Coast,...,river/lake,surface,communal standpipe,communal standpipe,2013,2,4,short_dry,837,651-1000
4861,70547,0.0,government of tanzania,506,government,34.946963,-11.418554,Shuleni Sekondari,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,2,0,short_dry,2349,2001-3000
5602,49729,0.0,government of tanzania,478,government,34.935121,-11.418339,Kwa Mzee Odomwisho,0,Lake Nyasa,...,spring,groundwater,communal standpipe,communal standpipe,2013,2,0,short_dry,2349,2001-3000

In [54]:
# Confirm missing value counts
sort_test_df.isnull().sum()

id                          0
amount_tsh                  0
funder                      0
gps_height                  0
installer                   0
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                  0
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management           0
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
month_recorded              0
day_recorded                0
seas_recorded               0
funder_counts               0
funder_points               0
dtype: int64

Next we can move on to the `public_meeting` column. There are 3334 missing rows. This feature describes whether or not a public meeting was held regarding the status of the waterpoint. It could be useful to use the mode values based on the `region` column to impute these missing values. We can achieve this by using a `.groupby()` and `.transform()` chain.

In [55]:
sort_test_df['region'].nunique()

21

In [56]:
# Create new column from mode of public_meeting by recorded_by
sort_test_df['most_rec'] = (
    sort_test_df.groupby('region')['public_meeting'].transform(lambda x: x.value_counts().idxmax()))

In [57]:
# Check for new most_rec column
sort_test_df.head()

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,source_class,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points,most_rec
10854,43715,500.0,tcrs,576,tcrs,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,groundwater,hand pump,hand pump,2013,2,5,short_dry,140,121-150,True
13542,33688,500.0,government of tanzania,1262,government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000,True
7549,43717,500.0,government of tanzania,1271,government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,groundwater,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000,True
2597,48996,500.0,government of tanzania,1332,government,35.058686,-11.540330,Kwa Mzee Ndungulu,3,Lake Nyasa,...,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000,True
3599,61269,500.0,government of tanzania,1329,government,35.060029,-11.539817,Kwa Mzee Teo,0,Lake Nyasa,...,groundwater,communal standpipe,communal standpipe,2013,3,0,long_rain,2349,2001-3000,True

In [58]:
# Impute missing values with the most_rec value
sort_test_df['public_meeting'] = sort_test_df['public_meeting'].fillna(sort_test_df['most_rec'])
# Confirm missing value counts
sort_test_df.isnull().sum()

id                          0
amount_tsh                  0
funder                      0
gps_height                  0
installer                   0
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                  0
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting              0
recorded_by                 0
scheme_management           0
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
year_recorded               0
month_recorded              0
day_recorded                0
seas_recorded               0
funder_counts               0
funder_points               0
most_rec                    0
dtype: int64

Great there are no more missing values in the `public_meeting` category. We can move on to the `scheme_name` column which has 47% of its values missing. Again we will begin addressing these missing values by taking a look at their distribution.

In [59]:
# Check number of unique values in scheme_name
sort_test_df['scheme_name'].nunique()

1789

With over half of the values missing in this column, and over 2500 unique values the best course of action for this column may be to simply drop it from the dataframe. Any imputation for so many missing values would simply introduce too many incorrect values. Let's drop this column now with the `.drop()` method.

In [60]:
# Drop scheme_name from dataframe
df = sort_test_df.drop('scheme_name', axis=1)

In [61]:
# Confirm missing value count
df.isnull().sum()

id                         0
amount_tsh                 0
funder                     0
gps_height                 0
installer                  0
longitude                  0
latitude                   0
wpt_name                   0
num_private                0
basin                      0
subvillage                 0
region                     0
region_code                0
district_code              0
lga                        0
ward                       0
population                 0
public_meeting             0
recorded_by                0
scheme_management          0
permit                   737
construction_year          0
extraction_type            0
extraction_type_group      0
extraction_type_class      0
management                 0
management_group           0
payment                    0
payment_type               0
water_quality              0
quality_group              0
quantity                   0
quantity_group             0
source                     0
source_type                0
source_class               0
waterpoint_type            0
waterpoint_type_group      0
year_recorded              0
month_recorded             0
day_recorded               0
seas_recorded              0
funder_counts              0
funder_points              0
most_rec                   0
dtype: int64

In [62]:
# Check distribution of values in column
df['permit'].value_counts(normalize=True, dropna=False)

True     0.656835
False    0.293535
NaN      0.049630
Name: permit, dtype: float64

Let's use similar methods as before to use the mode from the regions by permit and impute these values into our missing permit rows.

In [63]:
# Create new column from mode of permit by region
df['most_perm'] = (
    df.groupby('region')['permit'].transform(lambda x: x.value_counts().idxmax()))

In [64]:
# Impute missing values with the most_rec value
df['permit'] = df['permit'].fillna(df['most_perm'])
# Check distribution of values in column
df['permit'].value_counts(normalize=True, dropna=False)

True     0.705657
False    0.294343
Name: permit, dtype: float64

We can see that nearly all of the missing values were imputed as True for having a permit associated with the waterpoint. Now we can check that there are no more missing values in the dataframe.

In [65]:
# Confirm missing value counts
df.isnull().sum()

id                       0
amount_tsh               0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
num_private              0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
public_meeting           0
recorded_by              0
scheme_management        0
permit                   0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_type              0
source_class             0
waterpoint_type          0
waterpoint_type_group    0
year_recorded            0
month_recorded           0
day_recorded             0
seas_recorded            0
funder_counts            0
funder_points            0
most_rec                 0
most_perm                0
dtype: int64

In [68]:
# Reconfirm no missing values
df.isnull().sum().any()

False

In [69]:
# Return percentage of placeholder values
df.isin(['?', '#', 'NaN', 'null', 'nan', 'N/A', '-']).sum() / sort_test_df.shape[0] * 100.00

id                       0.0
amount_tsh               0.0
funder                   0.0
gps_height               0.0
installer                0.0
longitude                0.0
latitude                 0.0
wpt_name                 0.0
num_private              0.0
basin                    0.0
subvillage               0.0
region                   0.0
region_code              0.0
district_code            0.0
lga                      0.0
ward                     0.0
population               0.0
public_meeting           0.0
recorded_by              0.0
scheme_management        0.0
permit                   0.0
construction_year        0.0
extraction_type          0.0
extraction_type_group    0.0
extraction_type_class    0.0
management               0.0
management_group         0.0
payment                  0.0
payment_type             0.0
water_quality            0.0
quality_group            0.0
quantity                 0.0
quantity_group           0.0
source                   0.0
source_type              0.0
source_class             0.0
waterpoint_type          0.0
waterpoint_type_group    0.0
year_recorded            0.0
month_recorded           0.0
day_recorded             0.0
seas_recorded            0.0
funder_counts            0.0
funder_points            0.0
most_rec                 0.0
most_perm                0.0
dtype: float64

The `installer` column appears to still have 300 placeholder values. We can drop these 300 by creating a new dataframe that only contains the rows that do not have these placeholder values.

In [70]:
# Create new dataframe without placeholder value
df = df[df.installer != '-']

In [71]:
# Return percentage of placeholder values
df.isin(['?', '#', 'NaN', 'null', 'nan', 'N/A', '-']).sum() / sort_test_df.shape[0] * 100.00

id                       0.0
amount_tsh               0.0
funder                   0.0
gps_height               0.0
installer                0.0
longitude                0.0
latitude                 0.0
wpt_name                 0.0
num_private              0.0
basin                    0.0
subvillage               0.0
region                   0.0
region_code              0.0
district_code            0.0
lga                      0.0
ward                     0.0
population               0.0
public_meeting           0.0
recorded_by              0.0
scheme_management        0.0
permit                   0.0
construction_year        0.0
extraction_type          0.0
extraction_type_group    0.0
extraction_type_class    0.0
management               0.0
management_group         0.0
payment                  0.0
payment_type             0.0
water_quality            0.0
quality_group            0.0
quantity                 0.0
quantity_group           0.0
source                   0.0
source_type              0.0
source_class             0.0
waterpoint_type          0.0
waterpoint_type_group    0.0
year_recorded            0.0
month_recorded           0.0
day_recorded             0.0
seas_recorded            0.0
funder_counts            0.0
funder_points            0.0
most_rec                 0.0
most_perm                0.0
dtype: float64

Now that we have confirmed that our dataframe no longer contains missing and placeholder values, let's check for duplicate values. This can be done efficiently with the `.duplicated()` method chained with `.values` and `.any()`.

In [72]:
# Return a boolean informing if there are any duplicated values
df.duplicated().values.any()

False

We have confirmed our dataframe no longer contains these placeholder or duplicate values. However, let's confirm that 0 is not being used as a placeholder value where it should not be. Again we will utilize the `.isin()` for this task.

In [73]:
# Check all columns for percentage of 0
df.isin([0]).sum() / sort_test_df.shape[0] * 100.00

id                        0.000000
amount_tsh               70.101010
funder                    0.000000
gps_height               35.090909
installer                 0.000000
longitude                 3.077441
latitude                  0.000000
wpt_name                  0.000000
num_private              98.693603
basin                     0.000000
subvillage                0.000000
region                    0.000000
region_code               0.000000
district_code             0.026936
lga                       0.000000
ward                      0.000000
population               36.720539
public_meeting            8.693603
recorded_by               0.000000
scheme_management         0.000000
permit                   29.434343
construction_year        35.420875
extraction_type           0.000000
extraction_type_group     0.000000
extraction_type_class     0.000000
management                0.000000
management_group          0.000000
payment                   0.000000
payment_type              0.000000
water_quality             0.000000
quality_group             0.000000
quantity                  0.000000
quantity_group            0.000000
source                    0.000000
source_type               0.000000
source_class              0.000000
waterpoint_type           0.000000
waterpoint_type_group     0.000000
year_recorded             0.000000
month_recorded            0.000000
day_recorded             12.417508
seas_recorded             0.000000
funder_counts             0.000000
funder_points             0.000000
most_rec                  0.000000
most_perm                14.168350
dtype: float64

There is not a full percent of longitude values missing so we will leave this as it is.

In [74]:
# Create a copy of fixed_map
pop_test_df = df.copy(deep=True)
# Check dataframe
pop_test_df.head(3)

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,waterpoint_type,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points,most_rec,most_perm
10854,43715,500.0,tcrs,576,tcrs,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,hand pump,hand pump,2013,2,5,short_dry,140,121-150,True,True
13542,33688,500.0,government of tanzania,1262,government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000,True,True
7549,43717,500.0,government of tanzania,1271,government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,communal standpipe,communal standpipe,2013,3,1,long_rain,2349,2001-3000,True,True

In [75]:
# Create new feature of populations per well for region
pop_test_df['pop_well'] = pop_test_df['population'].groupby(pop_test_df['region']).transform('sum')
# Check dataframe
pop_test_df.head(3)

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points,most_rec,most_perm,pop_well
10854,43715,500.0,tcrs,576,tcrs,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,hand pump,2013,2,5,short_dry,140,121-150,True,True,136372
13542,33688,500.0,government of tanzania,1262,government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,communal standpipe,2013,3,1,long_rain,2349,2001-3000,True,True,136372
7549,43717,500.0,government of tanzania,1271,government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,communal standpipe,2013,3,1,long_rain,2349,2001-3000,True,True,136372

In [76]:
# View value_counts of new feature
pop_test_df['pop_well'].value_counts(normalize=True)

0         0.206195
25334     0.088283
121122    0.087879
117058    0.075084
286080    0.069495
57419     0.053535
189144    0.051246
375699    0.048283
295365    0.046869
136372    0.044848
161429    0.043030
268979    0.032458
123404    0.029832
154327    0.029226
95645     0.027879
140197    0.026195
138526    0.025185
47996     0.014478
Name: pop_well, dtype: float64

Now that we have our new feature let's explore it with the same process as used in our previous explorations.

In [77]:
# Create a copy of pop_df
age_test_df = pop_test_df.copy(deep=True)
# Check dataframe
age_test_df.head(3)

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,waterpoint_type_group,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points,most_rec,most_perm,pop_well
10854,43715,500.0,tcrs,576,tcrs,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,hand pump,2013,2,5,short_dry,140,121-150,True,True,136372
13542,33688,500.0,government of tanzania,1262,government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,communal standpipe,2013,3,1,long_rain,2349,2001-3000,True,True,136372
7549,43717,500.0,government of tanzania,1271,government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,communal standpipe,2013,3,1,long_rain,2349,2001-3000,True,True,136372

In [78]:
# Create age column by subtracting construction_year from year_recorded
age_test_df['age'] = age_test_df['year_recorded'] - age_test_df['construction_year'] 

# Check new column
age_test_df.head(3)

# Check distribution of values in column
age_test_df['age'].value_counts(normalize=True, dropna=False)

 2011    0.226195
 2012    0.090774
 3       0.043771
 1       0.040404
 2       0.040000
           ...
 2004    0.000269
 49      0.000202
-7       0.000067
-2       0.000067
-4       0.000067
Name: age, Length: 61, dtype: float64

In [79]:
# Create a copy of age_df
class_test_df = age_test_df.copy(deep=True)
class_test_df.head(3)

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points,most_rec,most_perm,pop_well,age
10854,43715,500.0,tcrs,576,tcrs,36.465674,-11.564592,Shuleni,0,Ruvuma / Southern Coast,...,2013,2,5,short_dry,140,121-150,True,True,136372,6
13542,33688,500.0,government of tanzania,1262,government,35.070836,-11.556404,Kwa Mzee Ndinuntwa,0,Lake Nyasa,...,2013,3,1,long_rain,2349,2001-3000,True,True,136372,6
7549,43717,500.0,government of tanzania,1271,government,35.039544,-11.556311,Kwa Mzee Luhangai,0,Lake Nyasa,...,2013,3,1,long_rain,2349,2001-3000,True,True,136372,6

In [80]:
# View the unique values for each column within the new dataframe
for col in class_test_df.columns:
    print('{} : {}'.format(col, class_test_df[col].nunique()))

id : 14850
amount_tsh : 68
funder : 980
gps_height : 2157
installer : 1033
longitude : 14390
latitude : 14390
wpt_name : 10840
num_private : 36
basin : 9
subvillage : 8443
region : 21
region_code : 26
district_code : 20
lga : 125
ward : 1959
population : 637
public_meeting : 2
recorded_by : 1
scheme_management : 11
permit : 2
construction_year : 55
extraction_type : 17
extraction_type_group : 13
extraction_type_class : 7
management : 12
management_group : 5
payment : 7
payment_type : 7
water_quality : 8
quality_group : 6
quantity : 5
quantity_group : 5
source : 10
source_type : 7
source_class : 3
waterpoint_type : 7
waterpoint_type_group : 6
year_recorded : 5
month_recorded : 12
day_recorded : 7
seas_recorded : 4
funder_counts : 86
funder_points : 15
most_rec : 1
most_perm : 2
pop_well : 18
age : 61

Now we will drop the columns which have high multicollinearity with other features, and those features which when encoded will make the dataset extremely large.

In [81]:
# Make new dataframe
class_test_df1 = class_test_df.drop([ 'id', 'funder', 'installer', 'wpt_name', 'num_private',
                     'subvillage', 
                     'region_code',
                     'lga', 'ward', 'recorded_by', 
                     'payment_type', 'extraction_type_group',
                     'source_class', 'waterpoint_type_group',
                     'waterpoint_type_group'], axis=1)
# Check Dataframe
class_test_df1.head()

,amount_tsh,gps_height,longitude,latitude,basin,region,district_code,population,public_meeting,scheme_management,...,year_recorded,month_recorded,day_recorded,seas_recorded,funder_counts,funder_points,most_rec,most_perm,pop_well,age
10854,500.0,576,36.465674,-11.564592,Ruvuma / Southern Coast,Ruvuma,5,600,True,WUG,...,2013,2,5,short_dry,140,121-150,True,True,136372,6
13542,500.0,1262,35.070836,-11.556404,Lake Nyasa,Ruvuma,3,450,True,VWC,...,2013,3,1,long_rain,2349,2001-3000,True,True,136372,6
7549,500.0,1271,35.039544,-11.556311,Lake Nyasa,Ruvuma,3,250,True,VWC,...,2013,3,1,long_rain,2349,2001-3000,True,True,136372,6
2597,500.0,1332,35.058686,-11.540330,Lake Nyasa,Ruvuma,3,256,True,VWC,...,2013,3,0,long_rain,2349,2001-3000,True,True,136372,7
3599,500.0,1329,35.060029,-11.539817,Lake Nyasa,Ruvuma,3,156,True,VWC,...,2013,3,0,long_rain,2349,2001-3000,True,True,136372,7

In [82]:
class_test_df2 = class_test_df1.drop(['most_rec', 'most_perm'], axis=1)
class_test_df2.shape

(14850, 32)

In [83]:
#class3_df.shape

NameError: name 'class3_df' is not defined

Now we will select the categorical features which need to be encoded for our model to make predictions. We will use the `pd.get_dummies()` function to acheive this.

In [84]:
# Create a list of all the categorical features
cols_to_transform = ['basin', 'region', 'district_code', 'scheme_management',
                     'extraction_type', 'extraction_type_class',
                     'management', 'management_group', 'payment',
                     'water_quality', 'quality_group', 'quantity',
                     'quantity_group', 'source', 'source_type', 'waterpoint_type',
                     'year_recorded', 'month_recorded',
                     'day_recorded', 'seas_recorded', 'funder_points', 'pop_well']
# Create a dataframe with the new dummy columns created from the cols_to_transform list
class_test_dummies = pd.get_dummies(
    data=class_test_df2, columns=cols_to_transform, drop_first=True)
# View dummy dataframe
class_test_dummies.head()

,amount_tsh,gps_height,longitude,latitude,population,public_meeting,permit,construction_year,funder_counts,age,...,pop_well_136372,pop_well_138526,pop_well_140197,pop_well_154327,pop_well_161429,pop_well_189144,pop_well_268979,pop_well_286080,pop_well_295365,pop_well_375699
10854,500.0,576,36.465674,-11.564592,600,True,False,2007,140,6,...,1,0,0,0,0,0,0,0,0,0
13542,500.0,1262,35.070836,-11.556404,450,True,True,2007,2349,6,...,1,0,0,0,0,0,0,0,0,0
7549,500.0,1271,35.039544,-11.556311,250,True,True,2007,2349,6,...,1,0,0,0,0,0,0,0,0,0
2597,500.0,1332,35.058686,-11.540330,256,True,True,2006,2349,7,...,1,0,0,0,0,0,0,0,0,0
3599,500.0,1329,35.060029,-11.539817,156,True,True,2006,2349,7,...,1,0,0,0,0,0,0,0,0,0

In [85]:
# View dimensions of new dataframe
class_test_dummies.shape

(14850, 208)

In [ ]:
set(class3_dummies.columns).symmetric_difference(class_test_dummies.columns)

In [ ]:
class_test_dummies.head(2)

In [ ]:
class3_dummies.head(2)

In [ ]:
class_test_dummies.columns not class3_dummies.columns

In [ ]:
scaler_test = MinMaxScaler()
fin_test = scaler_test.fit_transform(class_test_dummies)
fin_test

In [ ]:
predictions_test = rf2.predict(fin_test)